{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
    <meta name="title" content="Personal website - Hasan Ismayilov">
    <meta name="author" content="Hasan Ismayilov" />
    <meta name="description" content="I’m a junior software engineer with experience in developing front-end and back-end systems.">

    <title>Personal Website Hasan Ismayilov</title>
    <!-- Custom css -->
    <link rel="stylesheet" href="{% static 'index/style.css' %}">
    <link rel="stylesheet" href="{% static 'index/responsive.css' %}">
    
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo" ><a href="/home">Hasan</a></div>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/cv">Cv</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <section class="main">
        <div class="container " >
            <h1>Hələki bura anlamlı bişeylər yaza bilmədim. İdare edin.
                <br>
                Tap to emoji => <span onclick="audioPlayer()" style="cursor: pointer;">😇</span>
            </h1>

            
        </div>

        
    
    </section>
    

    <script>
        function audioPlayer(){
            var audio = new Audio('{% static "media/Nirvana - Come As You Are.mp3" %}')
            audio.volume = 0.9;
            audio.play()

        }
    </script>
    <footer></footer>
</body>
</html>